{% if ansible_os_family == 'Darwin' %}
#======= OPTIONS - START =======#
#======= OPTIONS - END =========#

{% endif %}
{#{% if ansible_os_family != 'Darwin' and pf_translation != None %}#}
{% if pf_translation != None %}
#===== TRANSLATION - START =====#
rdr-anchor "{{ pf_domain }}.rdr"
load anchor "{{ pf_domain }}.rdr" from "/etc/pf.anchors/{{ pf_domain }}.rdr.rules"
#===== TRANSLATION - END =======#

{% endif %}
#====== FILTERING - START ======#
anchor "{{ pf_domain }}"
load anchor "{{ pf_domain }}" from "/etc/pf.anchors/{{ pf_domain }}.rules"
{% if pf_ssh_bruteforce_protect %}

anchor "{{ pf_domain }}.sshd"
load anchor "{{ pf_domain }}.sshd" from "/etc/pf.anchors/{{ pf_domain }}.sshd.rules"
{% endif %}
{% if pf_emerging_threats_protect %}

anchor "{{ pf_domain }}.eto"
load anchor "{{ pf_domain }}.eto" from "/etc/pf.anchors/{{ pf_domain }}.eto.rules"
{% endif %}
#====== FILTERING - END ========#
